@media (max-width: 1200px) {
	body {
		background-color: #000000;
	}

	.fundo-video {
		display: none;
	}

	.container {
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;
		height: auto;
	}

	.container .yasuo {
		max-width: 50%;
	}

	.container .informacoes {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	.container .imagem-titulo {
		max-width: 75%;
	}

	.container .descricao {
		color: #ffffff;
		text-align: center;
	}

	.container .botao {
		background-color: #263238;
	}
}

@media (max-width: 500px) {
	.cabecalho {
		flex-wrap: wrap;
		justify-content: center;
		gap: 10px;
	}

	.container .imagem-titulo {
		max-width: 75%;
	}

}